<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="main.css" />
        <title>Instagram</title>
    </head>
    <body>
        <section class="instagramContainer">
            <article class="instagramFotoCelular">
                <img
                    class="iphone"
                    src="img/homeinstaiphone.png"
                    alt="Foto de um celular com uma Imagem do Instagram"
                />
            </article>
            <section class="instagramContinueConta">
                <article class="containerGroup">
                    <div class="logoInstagram"></div>
                    <div class="containerFoto">
                        <div class="fotoPerfilInstagran"></div>
                    </div>
                    <a href="#" class="loginInstagran">Continue Como CarolMoran</a>
                    <a href="#" class="logoutInstagran">Remover Conta</a>
                </article>
                <article class="containerGroup">
                    <p class="texto">Não é CarolMoran?</p>
                    <p class="texto">
                        <span class="linkAzul">Alternar Contas</span>
                        ou
                        <span class="linkAzul">Inscreva-se</span>
                    </p>
                </article>
                <article class="store">
                    <p class="get-app">Baixe o Aplicativo</p>
                    <div class="download">
                        <a href="#" class="appDownload"></a>
                    </div>
                </article>
            </section>
        </section>
        <script src="bundle.js"></script>
    </body>
</html>
