/* Container esquerdo ------------- */
.instagramFotoCelular {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.iphone {
    height: 40rem;
}

/* Container direito ------------- */
.instagramContinueConta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    min-height: 34rem;
}
.containerGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    border: 1px solid lightgray;
    padding: 1.3rem 0;
    border-radius: 5px;
}

.containerGroup:nth-child(1) {
    min-height: 19rem;
}
