/* Group 1 ------------- */
.logoInstagramContainer {
    margin-top: 10px;
    margin-bottom: 12px;
    .logoInstagram {
        width: 175px;
        height: auto;
    }
}

.form {
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    label {
        border: 1px solid #dbdbdb;
        background-color: #fafafa;
        border-radius: 3px;
        margin-bottom: 6px;
        height: 38px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    input {
        width: 100%;
        background-color: transparent;
        border: none;
        font-size: 12px;
        padding: 9px 0 7px 8px;
        outline: none;
        &::placeholder {
            color: #8e8e8e;
            font-size: 12px;
        }
    }
    button {
        width: 100%;
        height: 32px;
        padding: 7px 16px;
        background-color: #0095f6;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 8px;
        margin: 8px 0;
        &:hover {
            background-color: #1777f2;
        }
    }
}

/* Group 2 ------------- */
.texto {
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    margin: 15px;
    .linkAzul {
        color: #0095f6;
        text-decoration: none;
        cursor: pointer;
        font-weight: 600;
    }
}

/* Group 3 ------------- */
.store {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .get-app {
        width: 100%;
        margin: 10px 20px;
        text-align: center;
        color: #262626;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
}
.download {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    width: 100%;
    margin: 10px 0;
    .appDownload img {
        height: 40px;
        width: auto;
        cursor: pointer;
    }
}

/* Footer ------------------*/
.responsaveis,
.footerLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    list-style: none;
    font-family: $font-family;
    color: $gray;
    font-size: 12px;
    font-weight: 400px;
    flex-wrap: wrap;
}
.footerLinks li a,
.responsaveis li {
    color: $gray;
    font-size: 12px;
    font-weight: 400px;
}
.responsaveis li {
    margin: 12px 0;
}
.footerLinks li {
    margin-bottom: 12px;
    a {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
/* Media Query ------------- */

// @media (max-width: 1024px) {
//     .instagramContainer {
//         width: 90%;
//     }
// }

// @media (max-width: 650px) {
//     body {
//         background-color: white;
//     }
//     .instagramContainer {
//         width: 90%;
//     }
//     .instagramFotoCelular {
//         display: none;
//     }
//     .instagramContinueConta {
//         width: 100%;
//     }
//     .containerGroup {
//         border: none;
//     }
// }
