/* Group 1 ------------- */
.logoInstagramContainer {
    margin-top: 36px;
    margin-bottom: 12px;
    .logoInstagram {
        width: 175px;
        height: auto;
    }
}
.containerFoto {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.fotoPerfilInstagran {
    background-image: url(img/fotoPerfil.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}

.loginInstagran {
    background-color: rgb(24, 156, 243);
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.logoutInstagran {
    color: rgb(24, 156, 243);
    margin-top: 1rem;
}

/* Group 2 ------------- */
.texto {
    color: rgb(100, 100, 100);
}
.linkAzul {
    color: rgb(24, 156, 243);
}

/* Group 3 ------------- */
.store {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}
.download {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem;
}
.appDownload {
    width: 20rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(img/google-play-and-apple-app-store-logos-22.png);
}
.iphone {
    position: absolute;
    top: 47.5%;
    right: 17px;
    transform: translateY(-50%);
}
/* Footer ------------------*/
.responsaveis,
.footerLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    list-style: none;
    font-family: $font-family;
    color: $gray;
    font-size: 12px;
    font-weight: 400px;
}
.footerLinks li a,
.responsaveis li {
    color: $gray;
    font-size: 12px;
    font-weight: 400px;
}
.footerLinks li a {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}
/* Media Query ------------- */

@media (max-width: 1024px) {
    .instagramContainer {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: white;
    }
    .instagramContainer {
        width: 90%;
    }
    .instagramFotoCelular {
        display: none;
    }
    .instagramContinueConta {
        width: 100%;
    }
    .containerGroup {
        border: none;
    }
}
