* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: $font-family;
    font-size: 14px;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fafafa;
    @media (max-width: 490px) {
        background-color: #fff;
    }
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    @media (max-width: 490px) {
        align-items: flex-start;
        padding-bottom: 32px;
    }
}
footer {
    width: 100%;
    height: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 52px;
    @media (max-width: 600px) {
        padding: 0 16px;
    }
}
.instagramContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 32px;
    margin: 32px auto;
    height: 803px;
    @media (max-width: 490px) {
        height: 100%;
        margin: 0 auto;
    }
}
